version: "3.9"

services:
  db:
    image: postgres:15
    container_name: osdag_postgres
    restart: always
    environment:
      POSTGRES_DB: osdag_db
      POSTGRES_USER: osdag_user
      POSTGRES_PASSWORD: osdag_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: osdag_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./backend/.env

  frontend:
    image: node:20-alpine
    container_name: osdag_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:5173"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npm install && npm run dev -- --host"

volumes:
  postgres_data:
